@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --light-blue: #E8F0FF; 
    --deep-blue: #2160C5;
    --black: #2F195F;
    --red: #E94A47;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #fff;
}

.sub-heading {
    text-align: center;
    color: var(--deep-blue);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--deep-blue);
    letter-spacing: .1rem;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i {
    color: var(--deep-blue);
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--deep-blue);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover {
    color: #fff;
    background: var(--deep-blue);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

#search-form {
    position: fixed;
    top: -110%; left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: var(--deep-blue);
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 10rem;
    background-color: var(--light-blue);
}

.home .content {
    flex: 1 1 45rem;
}

.home .image {
    flex: 1 1 45rem;
}

.home .image img {
    width: 100%;
}

.home .content span {
    color: var(--deep-blue);
    font-size: 2.5rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 7rem;
}

.home .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.product .slide-container {
    padding: 40px 20px;
}

.swiper-navBtn{
    color: var(--black);
    transition: color 0.3s ease;
}

.swiper-navBtn:hover{
    color: var(--deep-blue);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: slategray;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--deep-blue);
}

.product .slide-container .slide-content .card-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

.product .slide-container .slide-content .card-wrapper .card {
    padding: 2rem;
    /* margin-left: 20px; */
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.product .slide-container .slide-content .card-wrapper .card .fa-heart, 
.product .slide-container .slide-content .card-wrapper .card .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.product .slide-container .slide-content .card-wrapper .card .fa-heart:hover,
.product .slide-container .slide-content .card-wrapper .card .fa-eye:hover {
    background: var(--deep-blue);
    color: #fff;
}

.product .slide-container .slide-content .card-wrapper .card .fa-heart {
    right: -15rem;
}

.product .slide-container .slide-content .card-wrapper .card .fa-eye {
    left: -15rem;
}

.product .slide-container .slide-content .card-wrapper .card:hover .fa-heart {
    right: 1.5rem;
}

.product .slide-container .slide-content .card-wrapper .card:hover .fa-eye {
    left: 1.5rem;
}

.product .slide-container .slide-content .card-wrapper .card .image {
    height: 50%;
    width: 100%;
    padding: .5rem;
    overflow: hidden;
}

.product .slide-container .slide-content .card-wrapper .card .image img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.product .slide-container .slide-content .card-wrapper .card .content h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.product .slide-container .slide-content .card-wrapper .card .content .stars {
    padding: 1.7rem 0;
}

.product .slide-container .slide-content .card-wrapper .card .content .stars i {
    font-size: 2rem;
    color: var(--deep-blue);
}

.product .slide-container .slide-content .card-wrapper .card .content .price {
    color: var(--red);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2rem;
}

.about{
    background-color: #E8F0FF;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons {
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--deep-blue);
}

.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}

footer {
    background-color: #fff;
    padding: 40px;
}

.footer .box-container  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .image {
    max-width: 100%;
}

.footer .box-container .image img {
    width: 75%;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--deep-blue);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--deep-blue);
}

.loader-container {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img {
    width: 35rem;
}

.loader-container.fade-out {
    top: 110%;
    opacity: 0;
}

.user {
    align-items: center;
    gap: 2rem;
    padding-top: 10rem;
    background-color: var(--light-blue);
}

.user-profile {
    align-items: center;
    gap: 5rem;
    padding-top: 10rem;
    background-color: var(--light-blue);
}

.user-profile .user {
    border:var(--light-color);
    padding:2rem;
    padding-top: 10rem;
    max-width: 100rem;
    margin:0 auto;
}

.user-profile .user .fa-user {
    font-size: 10rem;
    margin-bottom: 2rem;
}

.user-profile .user h3 {
    font-size: 4rem;
}

.user-profile .user p{
    line-height: 1.5;
    margin-bottom: .5rem;
    font-size: 2rem;
}
 
.user-profile .user p span{
    color:var(--black);
}
 
.user-profile .user i{
    margin-right: .7rem;
    color:var(--light-color);
}
 
.user-profile .user p.address{
    margin-top: 2rem;
}

.form-container {
    background-color: var(--light-blue);
}

.form-container form{
    max-width: 50rem;
    margin:0 auto;
    border:var(--border);
    padding:2rem;
    padding-top: 10rem;
    text-align: center;
}
 
.form-container form h3{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
}
 
.form-container form .box{
    margin:1rem 0;
    padding:1.4rem;
    color:var(--black);
    border:var(--border);
    font-size: 1.8rem;
    width: 100%;
}
 
.form-container form p{
    margin-top: 1.5rem;
    font-size: 2rem;
    color:var(--light-color);
}
 
.form-container form p a{
    font-size: 2rem;
    color:var(--red);
}
 
.form-container form p a:hover{
    color:var(--black);
}









/* media queries */

@media (max-width:991px){

    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px){

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    .home .home-slider .slide .content h3 {
        font-size: 5rem;
    }

    .slide-content{
        margin: 0 10px;
    }
     
    .swiper-navBtn {
        display: none;
    }

}

@media (max-width:991px){

    html {
        font-size: 50%;
    }

    .product .slide-container .slide-content .card-wrapper .card img {
        height: auto;
        width: 100%;
    }

}